@import "mixins/mixins";

@include b(condition-filter) {
  font-size: 12px;
  
  @include e(quick) {
    display: inline-block;
    min-height: 30px;
    line-height: 30px;
    display: flex;

    .el-radio-group {
      flex:1;
      line-height: 30px;
      vertical-align: top;
    }
  }
  
  @include e(divider) {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .el-condition-filter__divider-dashed {
    margin-top: 3px;
    margin-bottom: 7px;
  }
  
  @include e(senior) {
    .senior-result {
      min-height: 32px;
      
      .senior-result__label {
        margin-top: 5px;
      }
      
      .senior-result__detail {
        display: inline-block;
        width: calc(100% - #{$--condition-filter-expander-width} - #{$--condition-filter-label-width} - #{$--condition-filter-label-margin-right});
        
        .senior-result__item {
          display: inline-block;
          min-height: 25px;
          line-height: 25px;
          border: 1px solid #d0d0d0;
          padding-left: 10px;
          padding-right: 10px;
          margin-right: 10px;
          margin-bottom: 5px;
          
          &:last-child {
            margin-right: 0;
          }
          
          .item-value {
            display: inline-block;
            
            .value-clear-icon {
              margin-left: 5px;
              color: #a9a9a9;
              cursor: pointer;
            }
          }
        }
      }
      
      .senior-expander {
        float: right;
        cursor: pointer;
        width: $--condition-filter-expander-width;
        margin-top: 6px;
        color: $--color-primary;
        text-decoration: none;
      }
    }
    .senior-multiple-condition {
      display: inline-block;
      width: 100%;
      
      @include when(required) {
        @include pseudo('not(.is-no-asterisk)') {
          & > .senior-multiple-condition__label:before {
            content: '*';
            color: $--color-danger;
            margin-right: 4px;
          }
        }
      }
      
      .senior-multiple-condition__label {
        float: left;
        vertical-align: middle;
        line-height: $--condition-filter-advanced-multiple-condition-line-height;
        width: 100px;
        text-align: left;
      }
      .senior-multiple-condition__item {
        position: relative;
        line-height: 27px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          min-height: 28px;
        }
        
        .el-tag-select {
          display: flex;
          max-height: initial;
          line-height: inherit;
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            min-height: 28px;
            // max-height: 28px;
          }
          
          .el-tag-select-item__all {
            position: relative;
            top: -0.45px;
          }
          .select-item-group{
            flex: 1;
          }
        }
        
        .item-error {
          color: $--color-danger;
          font-size: 12px;
          line-height: 1;
          padding-top: 4px;
          top: 100%;
          left: 0;
        }
      }
    }
    
    .el-condition-filter__button {
      text-align: center;
    }
    
    .senior-condition-form {
      margin-top: 5px;
      .el-row {
        .el-form-item {
          width: 100%;
        }
      }
      .el-form-item {
        .el-form-item__label {
          &:after {
            content: '：';
          }
        }
        .el-form-item__content {
          height: 30px;
        }
      }
    }
  }
  
  .el-condition-filter__quick > .quick-label,
  .el-condition-filter__senior .senior-result .senior-result__label {
    display: inline-block;
    vertical-align: top;
    color: $--condition-filter-label-text-color;
    font-weight: $--condition-filter-label-text-font-weight;
    // margin-right: $--condition-filter-label-margin-right;
    width: $--condition-filter-label-width;
    text-align: left;
  }
  
  .el-form {
    .el-form-item {
      .el-form-item__label {
        color: $--color-black;
      }
    }
    &.el-form--inline {
      .el-form-item {
        &.el-form-item--small {
          .el-form-item__label {
            line-height: inherit;
          }
        }
      }
    }
  }
}