@import "mixins/mixins";
@import "common/var";

@include b(ellipsis) {
  overflow: hidden;
  display: inline-block;
  word-break: break-all;
  width: 100%;
  line-height: 1.5;

  &.is-lines {
    position: relative;

    .shadow {
      display: block;
      position: absolute;
      color: transparent;
      opacity: 0;
      z-index: -999;
      width: 100%;

      span {
        display: inline-block;
        width: 100%;
      }
    }

    & > span {
      display: inline-block;
      width: 100%;
    }
  }

  &.is-line-clamp {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
}
