@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

.pro-table__column-setting-tree {
  padding-bottom: 5px;
  font-size: 12px;
  
  & > .column-setting__toolbar {
    border-bottom: 1px solid #f0f0f0;
    margin-top: -6px;
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 4px;
    padding-left: 8px;

    .column-setting__reset-button {
      padding: 4px 14px;
      float: right;
    }

    & > .el-checkbox {
      & > .el-checkbox__label {
        padding-left: 8px;
        font-size: 12px;
      }
      .el-checkbox__input.is-checked + .el-checkbox__label {
        color: $--checkbox-font-color;
      }
    }
  }
  & > .el-tree {
    & > .el-tree-node {
      margin-left: -12px;

      .el-tree-node__expand-icon {
        color: $--tree-font-color;
        cursor: pointer;
      }
    }
  }
}

@include b(pro-table) {
  @include e(header) {
    display: flex;
    justify-content: space-between;

    .header__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    & .el-pro-table__toolbar {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .el-button {
        padding: 6px 9px;
      }

      & > div {
        display: inline-block;
      }
      .toolbar__extra__setting {
        display: inline-block;
        font-size: 18px;

        & .column-setting {
          margin-left: 4px;
          cursor: pointer;
        }
      }
    }
  }
  .el-card__body {
  }

  .el-table {
    .el-table__header-wrapper {
      .el-table__header {
        thead {
          tr {
            th {
              background-color: $--pro-table-header-background-color;
            }
          }
        }
      }
    }
  }
  .el-pro-table__pagination {
    line-height: $--pro-table-pagination-height;
    height: $--pro-table-pagination-height;
    margin-top: 20px;

    .el-pagination {
      float: right;
    }
  }
}