.demo-dynamic-form.demo-zh-CN {
  .el-form {
    width: 100%;
  }

  .line {
    text-align: center;
  }

  .demo-form-normal {
    width: 100%;
  }
  .demo-ruleForm {
    width: 460px;
  }
  .fr {
    float: right;
  }
}
