.demo-list {
  .demo-list.demo-zh-CN {
    .simple-list-title__first {
      margin-top: 0;
    }

    .basic-list-avatar-image {
      width: 32px;
      height: 32px;
      display: block;
    }

    .extra-img {
      width: 272px;
    }

    .vertical-action {
      color: rgba(0, 0, 0, 0.45);
    }

    .box-card {
      width: 100%;
    }
  }
}
