.demo-template-base-search {
  .extra-search-button {
    margin-left: 10px;
  }
  .extra-search-button .el-button {
    width: 80px;
  }
  .button-separator {
    color: #bfcbd9;
    margin: 0 3px;
  }
  .invalid {
    color: red;
  }
}
